/* Show only to IE PC \*/
* html .boxhead h2 {height: 1%;} /* For IE 5 PC */
.sidebox {
		margin: 0 auto; /* center for now */
		width: 94%; /* ems so it will grow */
		background: url(images/sbbody-r.gif) no-repeat bottom right;
		font-size: 100%;
}
.boxhead {
		background: url(images/sbhead-r.gif) no-repeat top right;
		margin: 0;
		padding: 0;
		text-align: center;
}
.boxhead h2 {
		background: url(images/sbhead-l.gif) no-repeat top left;
		margin: 0;
		padding: 22px 30px 5px;
		color: white; 
		font-weight: bold; 
		font-size: 1.2em; 
		line-height: 1em;
		text-shadow: rgba(0,0,0,.4) 0px 2px 5px; /* Safari-only, but cool */
}
.boxbody {
		background: url(images/sbbody-l.gif) no-repeat bottom left;
		margin: 0;
		padding: 5px 30px 31px;
}
.sidebox_a {
		margin: 0 auto; /* center for now */
		width: 94%; /* ems so it will grow */
		background: url(images/sbbody-r-a.gif) no-repeat bottom right;
		font-size: 100%;
}
.boxhead_a {
		background: url(images/sbhead-r-a.gif) no-repeat top right;
		margin: 0;
		padding: 0;
		text-align: center;
}
.boxhead_a h2 {
		background: url(images/sbhead-l-a.gif) no-repeat top left;
		margin: 0;
		padding: 22px 30px 5px;
		color: #CC9900; 
		font-size: 1.2em; 
		line-height: 1em;
		text-shadow: rgba(0,0,0,.4) 0px 2px 5px; /* Safari-only, but cool */
}
.boxbody_a {
		background: url(images/sbbody-l-a.gif) no-repeat bottom left;
		margin: 0;
		padding: 5px 30px 31px;
}
.boxcontent {
		font-family: Verdana,Arial,Helvetica;
		font-size: x-small;
		padding-top: 7px;
		padding-bottom: 12px;
}
body,td,th {
		font-family: Arial, Helvetica, sans-serif;
}